div.card-body,
div.card {
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

div.card-body {
  box-shadow: 1px 2px 10px 0px rgba(161, 161, 161, 1);
}
div.card-body:hover {
  box-shadow: 1px 10px 18px -6px rgba(0, 0, 0, 1);
}
a.login.nav-link:hover,
a.signup.nav-link:hover {
  color: #a30e00 !important;
}
a.login.nav-link.active,
a.signup.nav-link.active {
  color: #a30e00 !important;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  width: 25rem;
  background-color: #641b17;
  border-radius: 20px;
  box-shadow: 0px 9px 20px -6px rgba(0, 0, 0, 1);
}
