body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  background-image: url('https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg');
}

/* Listing Cards and Home Screen */
.listingCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 25px;
  text-align: center;
}
.cardKey {
  text-decoration: none;
  color: white;
}
.card {
  margin: 10px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  text-decoration: none;
  background-color: black;
  height: 60vh;
}
.card:hover {
  margin: 11px;
  box-shadow: 2px 2px 5px 5px rgb(242, 242, 105);
}

.header {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 9vh;
}

.navlinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: end;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  /* border: 2px solid white; */
}
img {
  border-radius: 25px;
  width: 20vw;
  height: 30vh;
  object-fit: cover;
}
#navs {
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px !important;
}

.nav {
  font-size: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Forms */
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

label {
  display: flex;
  justify-content: start;
  font-size: 20px;
}
input {
  display: flex;
  justify-content: center;
}
/* Details */
.details-container {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 50vh 50vh;
  grid-template-areas:
    'one two'
    'three four';
}
.details-image {
  grid-area: one;
  border-radius: 25px;
  width: 40vw;
  height: 50vh;
  object-fit: cover;
}
.details-section {
  grid-area: one;
}
.offerForm {
  grid-area: two;
}
.offer-section {
  grid-area: four;
}
