body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  text-align: center;
}

/* Listing Cards and Home Screen */
.listingCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 25px;
}
.cardKey {
  text-decoration: none;
  color: black;
}
.card {
  margin: 10px;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  text-decoration: none;
  background-color: white;
  height: 60vh;
}
.card:hover {
  border: 5px solid black;
  margin: 10px;
}

.header {
  background-color: rgb(0, 0, 0);
  color: white;
  height: 15vh;
}

.navlinks {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  /* border: 2px solid white; */
}
img {
  width: 20vw;
  height: 30vh;
  object-fit: contain;
}
#navs {
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px !important;
}

.nav {
  font-size: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60vh;
}
label {
  display: flex;
  justify-content: start;
  font-size: 20px;
}
input {
  display: flex;
  justify-content: center;
}
